.banner-image {
  background-size: cover;
  background-position: unset;
  padding: 160px 0;
  margin-bottom: 40px;
}

.banner-container {
  display: flex;
  justify-content: center;
}

.banner-title {
  font-family: 'Poppins', sans-serif;
  color: $light-gray;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  font-size: 80px;
  font-weight: bold;
}
